.alert {
    background-color: #f44336;
    color: white;
    opacity: 1;
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    height: 40px;
    text-overflow: ellipsis;
    transition: opacity 0.25;
    -webkit-animation-name: example;
    /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 4s;
    /* Safari 4.0 - 8.0 */
    animation-name: example;
    animation-duration: 2s;
    background-color: #ffaf19;
}

.divAlert {
    background-color: #f44336;
    color: white;
    opacity: 1;
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: opacity 0.25s;
    -webkit-animation-name: example;
    -webkit-animation-duration: 4s;
    animation-name: example;
    animation-duration: 2s;
    background-color: #ffaf19;
    display: block;
    // height: 6%;
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 0px;
    padding-top: 12px;
    padding-bottom: 0px;
    border: 1px solid transparent;
    border-radius: .25rem;
    line-height: 10px;
}

@keyframes example {
    from {
        opacity: 0;
        height: 0px;
    }

    to {
        opacity: 1;
        height: 40px;
    }
}

.closebtn {
    font-weight: bold;
    float: right;
    color: white;
    cursor: pointer;
    transition: 6.3s;
    font-size: 30px;
    line-height: 10px;
}

.textClass {
    // width: calc(100% 60px)
    position: absolute;
    // text-align: center; white-space: nowrap; overflow: hidden;
    height: 100%;
    background-color: effaf19;
    color: #ffffff;
    text-overflow: ellipsis;
    font-family: RobotoBold;
    font-size: 15px;
    font-weight: bold;
    line-height: 14px;
}

.divtextClass {
    // width: calc(100% - 60px);
    white-space: pre-line;
    overflow: hidden;
    display: flex;
    height: 100%;
    background-color: #ffaf19;
    color: #ffffff;
    text-overflow: ellipsis;
    font-family: RobotoBold;
    font-size: 16px;
    font-weight: bold;
    line-height: 15px;
    // margin-bottom: -10px;
    transition: opacity 0.2s;
    line-height: 20px;
}

.dot {
    height: 5px;
    width: 5px;
    border-radius: 50%;
    display: inline-block;
    background-color: #ffffff;
    margin-bottom: 3px;
    margin-left: 10px;
}

.height18 {
    height: 18px;
    cursor: pointer;
}